# Copyright 2021 Martin Kalcok
# See LICENSE file for licensing details.
#
# Learn more about config at: https://juju.is/docs/sdk/config

options:
  default-storage:
    default: ceph-xfs
    description: Default storage class to use. Allowed values: "ceph-ext4", "ceph-xfs"
    type: string
