# Copyright 2021 Martin Kalcok
# See LICENSE file for licensing details.
#
# Learn more about config at: https://juju.is/docs/sdk/config

options:
  default-storage:
    default: ceph-xfs
    description: "Default storage class to use. Allowed values: 'ceph-ext4', 'ceph-xfs', 'cephfs'"
    type: string

  provisioner-replicas:
    default: 3
    description: "Number of replicas of any csi-*plugin-provisioner deployment"
    type: int

  enable-host-networking:
    default: false
    description: "Whether or not csi-*plugin-provisioner deployments use host-networking"
    type: boolean

  cephfs-enable:
    default: false
    description: |
      Whether or not cephfs manifests should be installed

      Only enable if ceph-fs is deployed and related to ceph-mon
    type: boolean

  cephfs-mounter:
    default: ""
    description: |
      The driver can use either ceph-fuse (fuse) or ceph kernelclient (kernel).
      If omitted, default volume mounter will be used - this is
      determined by probing for ceph-fuse and mount.ceph
    type: string

  namespace:
    type: string
    default: ""
    description: |
      Kubernetes namespace in which to install the rbd and cephfs
      components including deployments, daemonsets, secrets, configmaps.

      if unspecified, "default" is assumed

      NOTE: Can only be specified on deployment since some
      attributes of kubernetes resources are not modifiable

  release:
    type: string
    description: |
      Specify the version of ceph-csi as defined by the `release`
      tags of https://github.com/ceph/ceph-csi

      example)
        juju config ceph-csi release='v3.7.2'
      
      A list of supported versions is available through the action:
        juju run ceph-csi/leader list-releases
      
      To reset by to the latest supported by the charm use:
        juju config ceph-csi --reset release
      
      The current release deployed is available by viewing
        juju status ceph-csi
