ops >= 1.2.0
# ops.manifest >= 1.1.3, < 2.0
ops.manifest @ git+https://github.com/canonical/ops-lib-manifest@KU-2644/enhance-list-resources
jinja2
pyyaml

charm-lib-contextual-status @ git+https://github.com/charmed-kubernetes/charm-lib-contextual-status
charm-lib-reconciler @ git+https://github.com/charmed-kubernetes/charm-lib-reconciler@main
interface_ceph_client @ git+https://github.com/openstack/charm-ops-interface-ceph-client@d4d0cefc5e92edd28cdbf5d00e190d4498896418
charmhelpers == 1.2.1
setuptools == 69.5.1

# require netifaces to prevent a dynamic apt install during interface_ceph_client -> charmhelpers import
# https://github.com/juju/charm-helpers/blob/a72931f7324526e7f05221847437238517f38fa7/charmhelpers/contrib/network/ip.py#L37-L42
netifaces
