apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-test-{{ storage_class }}
  annotations:
   volume.beta.kubernetes.io/storage-class: {{ storage_class }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi