kind: Pod
apiVersion: v1
metadata:
  name: read-test-{{ storage_class }}
  namespace: default
spec:
  volumes:
  - name: shared-data
    persistentVolumeClaim:
      claimName: pvc-test-{{ storage_class }}
      readOnly: false
  containers:
    - name: read-test-{{ storage_class }}
      #  rocks registry is used because we were hitting rate limits in dockerhub
      image: rocks.canonical.com:443/cdk/ubuntu:jammy
      command: ["/bin/bash", "-c", "cat /data/juju"]
      volumeMounts:
      - name: shared-data
        mountPath: /data
  restartPolicy: Never