kind: Pod
apiVersion: v1
metadata:
  name: write-test-{{ storage_class }}
spec:
  volumes:
  - name: shared-data
    persistentVolumeClaim:
      claimName: pvc-test-{{ storage_class }}
      readOnly: false
  containers:
    - name: write-test-{{ storage_class }}
      image: public.ecr.aws/ubuntu/ubuntu:latest
      command: ["/bin/bash", "-c", "echo '{{ data }}' > /data/juju"]
      volumeMounts:
      - name: shared-data
        mountPath: /data
  restartPolicy: Never